<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yelpexplorer.features.business" >

    <application android:theme="@style/AppTheme">
        <activity android:name="com.yelpexplorer.features.business.presentation.businesslist.BusinessListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
